<optimizer-page package-path="./optimizer.json"/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RaptorJS Optimizer Demo</title>
    <optimizer-head/>
</head>
<body>
    <h1 id="header">RaptorJS Optimizer Demo</h1>

    Hello $data.name!

    <div id="target"></div>
    
    <optimizer-body/>
</body>
</html>
