<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RaptorJS Optimizer Demo</title>
    {{{optimizerHead}}}
</head>
<body>
    <h1 id="header">RaptorJS Optimizer Demo</h1>
    {{{optimizerBody}}}
</body>
</html>
