<optimizer-page package-path="./optimizer.json"/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | Optimizer Demo</title>
    <optimizer-head/>
</head>
<body>
    <h1>Profile | Optimizer Demo</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>

    <optimizer-body/>
</body>
</html>
