<!doctype html>
<html lang="en" class="${data.htmlClassName}">
    <head>
        <meta charset="UTF-8">
        <title>
            <layout-placeholder name="title"/> | Raptor Weather
        </title>
        <optimizer-head/>
    </head>
    <body>
        <app-header/>

        <div id="content">
            <main id="main">
                <layout-placeholder name="body"/>
            </main>
        </div>

        <app-footer/>

        <optimizer-body/>

        <w-init-widgets/>

        <browser-refresh enabled="true"/>
    </body>
</html>