<optimizer-page name="my-page" package-path="./my-page.optimizer.json"/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RaptorJS Optimizer Demo</title>
    <optimizer-head/>
</head>
<body>
    <h1 id="header">RaptorJS Optimizer Demo</h1>
    <optimizer-body/>
</body>
</html>
