<div class="stock-ticker">
    <span class="symbol">
        $data.symbol
    </span>
    &nbsp;
	<span class="price">
		$data.price
	</span>
    &nbsp;
	<span class="{?data.isGain;gain;loss}">
		$data.delta
	</span>
</div>